body, html {
    background-color: black;

    overflow: hidden;
}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    justify-content: center;
}

.start {
    padding: 1em;
    margin: 0 auto;
    margin-top: 10em;

    border-radius: 10px;

    width: 10em;
    
    text-decoration: none;
    color: black;

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    display: flex;
    justify-content: center;

    background-color: white;
}

.shop {
    padding: 0.5em;
    margin: 0 auto;
    margin-top: 1em;

    border-radius: 10px;

    width: 10em;
    
    text-decoration: none;
    color: black;

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    display: flex;
    justify-content: center;

    background-color: white;
}

.delData {
    padding: 0.2em;
    margin: 0 auto;
    margin-top: 1em;

    border-radius: 5px;

    width: 12em;
    
    text-decoration: none;
    color: black;

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.8em;

    display: flex;
    justify-content: center;

    background-color: red;
}